<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net40" />
  <package id="EntityFramework.zh-Hant" version="6.2.0" targetFramework="net40" />
  <package id="jose-jwt" version="3.2.0" targetFramework="net40" />
  <package id="NuGet.CommandLine" version="4.4.1" targetFramework="net40" developmentDependency="true" />
</packages>